 
<h2>Please Log In or Sign Up</h2> 

<% form_tag sessions_path do %>
	<p> 
		<%= label_tag :userID %><br />
		<%= text_field_tag :userID, params[:userID] %>
	</p>
	<p>
		<%= label_tag :password %><br />
		<%= password_field_tag :password %>
	</p>
	<p class="button"><%= submit_tag "Login" %>
<% end %>

<%= link_to "sign up", new_user_path %>
