<h2>New user</h2>

  <% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :userID %>: (Min 4 characters)<br />
    <%= f.text_field :userID %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= select :user, :active, options_for_select(User::ACTIVES) %>
  </p>
  <p>
    <%= f.label :userType %><br />
    <%= select :user, :userType, options_for_select(User::USERTYPES) %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>


