<p>
  <b>Userid:</b>
  <%=h @user.userID %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @user.lastname %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @user.firstname %>
</p>

<p>
  <b>Active:</b>
  <%=h @user.active %>
</p>

<p>
  <b>Usertype:</b>
  <%=h @user.userType %>
</p>

<p>
  <b>Password:</b>
  <%=h @user.password %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>